body{
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    font-family: "Plus Jakarta Sans", sans-serif;

}

nav{
    display: flex;
    background-color: rgba(204, 123, 0, 0.887);
    background-image: radial-gradient(circle at top right, #fda500, transparent 80%);
}

nav ul{
    display: flex;
    gap: 20px;
}

nav ul li{
    display: inline;

}
a{
    text-decoration: none;
    color: palegreen;
}

header{
    display: flex;
    background-color: aquamarine;
}
header .profile{
    width: 450px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: burlywood;
}

header .title{
    width: 100%;
    background-color: chocolate;
    color: thistle;
    display: flex;
    flex-direction: column;

}
header .title main a{
    font-size: 30px;
    font-weight: bold;
}

header .title sub p{
    font-size: 15px;
    font-weight: bold;
}

header .profile img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
    object-position: 10% 20%;
}
.title main, .title .sub{
    display: flex;
    margin-left: 20px;
}

header .title  .main p{
    font-size: 30px;
    font-weight: bold;

}

header .title .main span{
    color: lightsalmon;
}

header .title .sub p{
    font-size: 15px;
    font-weight: bold;

}
section.main1{
    display: flex;   
    flex-direction: column;
    background-color: orangered;
    width: 100%;
}
section.main2{
    display: flex;   
    flex-direction: column;
    background-color: gold;
    width: 100%;
}
section.main3{
    display: flex;   
    flex-direction: column;
    background-color: goldenrod;
    width: 100%;
}
section.main4{
    display: flex;   
    flex-direction: column;
    background-color: greenyellow;
    width: 100%;
}
section.main5{
    display: flex;   
    flex-direction: column;
    background-color: green;
    width: 100%;
}
section.main .post1{
    display: flex;
}
section.main .post1 img{
    width: 40%;
}
section.main .post1 .exp{
    width: 60%;
    display: flex;
    flex-direction: column;
}
section.main .post1{
    display: flex;
}
section.main .post1 img{
    width: 40%;
}
section.main .post1 .exp{
    width: 60%;
    display: flex;
    flex-direction: column;
}
section.main .post2{
    display: flex;
}
section.main .post2 img{
    width: 40%;
}
section.main .post2 .exp{
    width: 60%;
    display: flex;
    flex-direction: column;
}
section.main .post3{
    display: flex;
}
section.main .post3 img{
    width: 40%;
}
section.main .post3 .exp{
    width: 60%;
    display: flex;
    flex-direction: column;
}
section.main .post4{
    display: flex;
}
section.main .post4 img{
    width: 40%;
}
section.main .post4 .exp{
    width: 60%;
    display: flex;
    flex-direction: column;
}
section.main .post5{
    display: flex;
}
section.main .post5 img{
    width: 40%;
    height: 60%;
}
section.main .post5 .exp{
    width: 60%;
    display: flex;
    flex-direction: column;
}

/* Setting Content */

.post1 img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: 10% 50%;
    margin: 20px;
    border-radius: 20px;
}
.post1 p{
    justify-content: center;
    display: flex;
  }

section.main1 h1{
    margin-left: 20px;
}
.post2 img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: 10% 50%;
    margin: 20px;
    border-radius: 20px;
}
.post2 p{
    justify-content: center;
    display: flex;
  }

section.main2 h1{
    margin-left: 20px;
}
.post3 img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: 10% 50%;
    margin: 20px;
    border-radius: 20px;
}
.post3 p{
    justify-content: center;
    display: flex;
  }

section.main3 h1{
    margin-left: 20px;
}
.post4 img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: 10% 50%;
    margin: 20px;
    border-radius: 20px;
}
.post4 p{
    justify-content: center;
    display: flex;
  }

section.main4 h1{
    margin-left: 20px;
}
.post5 img{
    width: 300px;
    height: 200px;
    object-fit: cover;
    object-position: 10% 50%;
    margin: 20px;
    border-radius: 20px;
}
.post5 p{
    justify-content: center;
    display: flex;
  }

section.main5 h1{
    margin-left: 20px;
}


/* Setting Content */
footer{
    width: 100%;/* lebar 100 persen */
    height: fit-content;/* sesuaikan tinggi dengan ini */
    padding-top: 30px;/* jarak dalam atas tambah */
    padding-bottom: 30px;/* jarak dalam bawah tanah */
    position: sticky;/* lengket, tidak kesana kemari */
    bottom: 0;/* atur posisi dari bawah sehingga 0*/
    background-color: chocolate;/* latar chocolate*/
    color: beige;/* isinya beige */
    display: flex;/*di penuhin kanan kiri */
    justify-content: center;/* konten ketengahin sesuai alur */
}


/* Setting Content */
/* Setting Content */